@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair+Display", ui-serif, Georgia, serif;
  
  --color-brand-50: #FDFCFB;
  --color-brand-100: #F4F1ED;
  --color-brand-200: #E5E7EB;
  --color-brand-500: #8B5E3C;
  --color-brand-600: #744D31;
  --color-brand-800: #44403C;
  --color-brand-900: #1C1917;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-50);
  color: var(--color-brand-800);
}
